@import "./variables.scss";


.main{
    height: 300px;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-side{
        height: 100%;
        width: 50%;
        text-align: start;
        margin-left: 60px;
        margin-top: 20px;

        h2{
            letter-spacing:2px;
            font-size: 28px;
            margin-bottom: 20px;
            line-height: 40px;
            strong{
                font-weight: 900;
                font-size: 33px;
                a{
                    color: $turunc;
                }
            }
        }
        p{
            font-size: 18px;
            font-weight: 400;
            color: $koyugri;
            width: 500px;
            word-spacing: 4px;
            margin-bottom: 10px;
        }
        .bold-text{
            font-size: 18px;
            font-weight: 400;
            color: #5e5a5a;
            width: 500px;
            word-spacing: 4px;
        }
    }

    .img{
        height: 100%;
        width: 50%;
        margin-right: 100px;
        img{
            max-width:600px;
            max-height:110%;
        }
    }
}


@media screen and (max-width:770px) {

    .main{
        padding: 0px;
        display: block;
        width: 355px;
        padding-left: 20px;
        padding-top: 20px;
        .text-side{
            margin-bottom: 70px;
            width: 100%;
            margin: 0px;
            margin-top: 20px;
            margin-bottom: 70px;
            p{
                width: 350px;
            }
            .bold-text{
                width: 350px;
            }
        }

        .img{
            width: 350px;
            img{
                margin-left: -40px;
                width: 350px;
            }
        }
    }
}